* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 20px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: Arodora Pro;
  font-display: swap;
  src: url("../fonts/ArodoraPro-Light.woff2") format("woff2"), url("../fonts/ArodoraPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NEXT ART;
  font-display: swap;
  src: url("../fonts/NEXTART-Bold.woff2") format("woff2"), url("../fonts/NEXTART-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: NEXT ART;
  font-display: swap;
  src: url("../fonts/NEXTART.woff2") format("woff2"), url("../fonts/NEXTART.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Nico Moji;
  font-display: swap;
  src: url("../fonts/NicoMoji-Regular.woff2") format("woff2"), url("../fonts/NicoMoji-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NEXT ART;
  font-display: swap;
  src: url("../fonts/NEXTART-SemiBold.woff2") format("woff2"), url("../fonts/NEXTART-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

[class^=_icon-]::before,
[class*=" _icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e900";
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arodora Pro;
  font-weight: 300;
  font-size: 18px;
  color: #e4e4e4;
  background-color: #ccc;
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0px 15px;
}

.link {
  font-size: 18px;
  color: #e4e4e4;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.tittle {
  font-family: NEXT ART;
  font-weight: 400;
  font-size: 48px;
  line-height: 112.5%;
  color: #e4e4e4;
}

.tittle-small {
  font-weight: 300;
  font-size: 24px;
  line-height: 120.8333333333%;
  color: #ffffff;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 116.6666666667%;
  color: #ffffff;
}

.swiper-wrapper {
  position: static;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.swiper-pagination-bullet {
  display: block;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #e2a100;
  border-radius: 50%;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #e2a100;
}

.swiper-arrow {
  width: 60px;
  height: 60px;
  width: 60px;
  height: 60px;
  background-color: #e2a100;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 36px;
  font-size: 36px;
}

.swiper-arrow span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.swiper-button-next span::before {
  -webkit-transform: rotate(180deg) translate(0, -10%);
      -ms-transform: rotate(180deg) translate(0, -10%);
          transform: rotate(180deg) translate(0, -10%);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  background-color: transparent;
  height: 100%;
  z-index: -1;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.header__container {
  padding: 25px 15px;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}

.header__logo-block {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.header__text {
  font-family: Nico Moji;
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  margin-right: 20px;
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.menu-header {
  margin-left: 20px;
}

.menu-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
  -webkit-column-gap: 145px;
     -moz-column-gap: 145px;
          column-gap: 145px;
}

.menu-header__link-active {
  position: relative;
}

.menu-header__link-active::after {
  content: "";
  position: absolute;
  background-color: #e2a300;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
}

.burger-menu {
  display: none;
}

.contact {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  padding: 40px 20px;
  opacity: 0;
  visibility: hidden;
}

.contact.active {
  opacity: 1;
  visibility: visible;
}

.contact.active .contact__container {
  -webkit-transform: perspective(800px) rotateX(0deg) translate(0, 0);
          transform: perspective(800px) rotateX(0deg) translate(0, 0);
}

.contact__container {
  max-width: 500px;
  background-color: #fff;
  border-radius: 50px;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  -webkit-transform: perspective(800px) rotateX(45deg) translate(0, -100%);
          transform: perspective(800px) rotateX(45deg) translate(0, -100%);
}

.contact .contact__close {
  display: none;
}

.contact__body {
  max-height: 80vh;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
  padding: 20px 20px;
}

.contact__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.contact__name {
  font-size: 26px;
  color: #2a2a2a;
  margin: 0px 0px 5px 0px;
}

.contact__link {
  color: #00c4f0;
  font-size: 30px;
}

.info__container {
  background-color: #fff;
  font-size: 38px;
}

.info__close {
  color: #fff;
}

.info__body {
  color: #00c4f0;
  padding: 20px;
}

.open-img {
  padding: 20px 20px;
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-animation: animBg;
          animation: animBg;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.open-img img {
  z-index: 1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 90%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: animImg;
          animation: animImg;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.open-img__close {
  z-index: 2;
  cursor: pointer;
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  right: 40px;
  top: 40px;
}

.open-img__close::after,
.open-img__close::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: #fff;
  left: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  border-radius: 10px;
}

.open-img__close::after {
  bottom: 50%;
  -webkit-transform: rotate(-45deg) translateY(50%);
      -ms-transform: rotate(-45deg) translateY(50%);
          transform: rotate(-45deg) translateY(50%);
}

.open-img__close::before {
  top: 50%;
  -webkit-transform: rotate(45deg) translateY(-50%);
      -ms-transform: rotate(45deg) translateY(-50%);
          transform: rotate(45deg) translateY(-50%);
}

@-webkit-keyframes animBg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animBg {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animImg {
  0% {
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%);
  }

  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

@keyframes animImg {
  0% {
    -webkit-transform: scale(0) translate(-50%, -50%);
            transform: scale(0) translate(-50%, -50%);
  }

  100% {
    -webkit-transform: scale(1) translate(-50%, -50%);
            transform: scale(1) translate(-50%, -50%);
  }
}

/**
 * Swiper 8.4.3
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: October 6, 2022
 */

@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}

.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  -o-transition-property: transform, height;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}

.swiper-backface-hidden .swiper-slide {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-3d,
.swiper-3d.swiper-css-mode .swiper-wrapper {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-ordinal-group: 10000;
      -ms-flex-order: 9999;
          order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-start: var(--swiper-centered-offset-before);
          margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  -webkit-margin-before: var(--swiper-centered-offset-before);
          margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

.main-section {
  background-color: #2a2a2a;
  min-height: 100vh;
  width: 100vw;
  padding-top: 70px;
}

.main-section__body {
  text-transform: uppercase;
}

.main-section__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 120px;
}

.main-section__tittle {
  font-family: NEXT ART;
  font-weight: 700;
  font-size: 72px;
  font-size: 72px;
  line-height: 107.8947368421%;
  color: #e4e4e4;
  margin: 0px 0px 20px 0px;
}

.main-section__text {
  line-height: 116.6666666667%;
  text-transform: none;
  margin: 0px 0px 25px 0px;
}

.main-section__text span {
  color: #00c4f0;
}

.main-section__button {
  width: 200px;
  min-height: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 35px;
  color: #000000;
  background: -o-linear-gradient(2.68deg, #e2a300 4.47%, #e29500 95.53%);
  background: linear-gradient(87.32deg, #e2a300 4.47%, #e29500 95.53%);
  -webkit-box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
          box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  border-radius: 6px;
  font-family: NEXT ART;
  font-weight: 700;
  line-height: 111.1111111111%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.img-block-main-section {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.img-block-main-section__body {
  position: relative;
  width: 575px;
  height: 575px;
  border: 67px solid #00c4f0;
  border-width: 67px;
  border-radius: 50%/30%;
  background-color: rgba(0, 196, 240, 0.5058823529);
  -webkit-box-shadow: 0px 0px 100px #00c4f0;
          box-shadow: 0px 0px 100px #00c4f0;
}

.img-block-main-section__img {
  position: absolute;
  width: 100%;
  height: calc(100% + 12px);
  bottom: -10px;
  left: 0;
  border-radius: 50%/30%;
  overflow: hidden;
}

.img-block-main-section__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-block-main-section__item {
  width: 90px;
  height: 90px;
  background: -o-linear-gradient(319.32deg, #414141 0%, #2d2d2d 100.52%);
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "NEXT ART";
  font-weight: 700;
  font-size: 28px;
  line-height: 146.4285714286%;
  color: #00c4f0;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
}

.img-block-main-section__item-html {
  bottom: 0;
  left: 0;
}

.img-block-main-section__item-css {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 0;
}

.img-block-main-section__item-sass {
  top: 0;
  left: 0;
}

.img-block-main-section__item-js {
  top: 0%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.portfolio {
  background: -o-linear-gradient(319.32deg, #414141 0%, #2d2d2d 100.52%);
  background: linear-gradient(130.68deg, #414141 0%, #2d2d2d 100.52%);
  padding-top: 150px;
  padding-bottom: 150px;
}

.portfolio__tittle {
  text-align: center;
  margin-bottom: 50px;
}

.portfolio__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  margin: 0px 0px 20px 0px;
}

.portfolio__slider {
  height: 100%;
}

.portfolio__arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.slide-portfolio {
  background-color: #2a2a2a;
  padding: 50px;
  -webkit-box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
          box-shadow: 0px 4px 15px rgba(27, 27, 27, 0.28);
  border-radius: 29px;
}

.slide-portfolio__img {
  border-radius: 25px;
}

.slide-portfolio__img img {
  border-radius: inherit;
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.slide-portfolio__body {
  text-align: center;
}

.slide-portfolio__tittle {
  margin-bottom: 25px;
  text-align: center;
}

.slide-portfolio__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 25px;
}

.slide-portfolio__btn {
  font-family: "Arodora Pro";
  font-weight: 300;
  font-size: 18px;
  line-height: 116.6666666667%;
  color: #e2a100;
  width: 100%;
}

.slide-portfolio__btn span {
  display: inline-block;
  padding-right: 25px;
  position: relative;
}

.slide-portfolio__btn span::before {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: rotate(180deg) translate(0, 50%);
      -ms-transform: rotate(180deg) translate(0, 50%);
          transform: rotate(180deg) translate(0, 50%);
  font-size: inherit;
}

@media (min-width: 767px) {
  .main-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .main-section__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .slide-portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .slide-portfolio__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
  }

  .slide-portfolio__body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding-left: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 1230px) {
  .tittle {
    font-size: calc(24px + 24 * ((100vw - 320px) / 910));
  }

  .tittle-small {
    font-size: calc(18px + 6 * ((100vw - 320px) / 910));
  }

  .text {
    font-size: calc(14px + 4 * ((100vw - 320px) / 910));
  }

  .swiper-pagination-bullet {
    width: calc(10px + 10 * ((100vw - 320px) / 910));
  }

  .swiper-pagination-bullet {
    height: calc(10px + 10 * ((100vw - 320px) / 910));
  }

  .swiper-arrow {
    width: calc(20px + 40 * ((100vw - 320px) / 910));
  }

  .swiper-arrow {
    height: calc(20px + 40 * ((100vw - 320px) / 910));
  }

  .swiper-arrow {
    font-size: calc(26px + 10 * ((100vw - 320px) / 910));
  }

  .menu-header__list {
    -webkit-column-gap: calc(0px + 145 * ((100vw - 320px) / 910));
       -moz-column-gap: calc(0px + 145 * ((100vw - 320px) / 910));
            column-gap: calc(0px + 145 * ((100vw - 320px) / 910));
  }

  .main-section__tittle {
    font-size: calc(36px + 36 * ((100vw - 320px) / 910));
  }

  .img-block-main-section__body {
    width: calc(250px + 325 * ((100vw - 320px) / 910));
  }

  .img-block-main-section__body {
    height: calc(250px + 325 * ((100vw - 320px) / 910));
  }

  .img-block-main-section__body {
    border-width: calc(25px + 42 * ((100vw - 320px) / 910));
  }

  .img-block-main-section__item {
    width: calc(50px + 40 * ((100vw - 320px) / 910));
  }

  .img-block-main-section__item {
    height: calc(50px + 40 * ((100vw - 320px) / 910));
  }

  .img-block-main-section__item {
    font-size: calc(16px + 12 * ((100vw - 320px) / 910));
  }

  .portfolio {
    padding-top: calc(20px + 130 * ((100vw - 320px) / 910));
  }

  .portfolio {
    padding-bottom: calc(20px + 130 * ((100vw - 320px) / 910));
  }

  .portfolio__tittle {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 910));
  }

  .slide-portfolio {
    padding: calc(10px + 40 * ((100vw - 320px) / 910));
  }

  .slide-portfolio__tittle {
    margin-bottom: calc(8px + 17 * ((100vw - 320px) / 910));
  }

  .slide-portfolio__text {
    margin-bottom: calc(8px + 17 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 998px) {
  .header__container {
    padding: 15px 15px;
  }

  .contact__container {
    padding-top: 50px;
  }

  .contact .contact__close {
    display: block;
    font-size: 30px;
    text-transform: uppercase;
    position: absolute;
    right: 30px;
    top: 25px;
    font-weight: 900;
    z-index: 10;
    color: #2a2a2a;
  }

  .contact__body {
    padding: 0px 20px 20px 20px;
  }

  .main-section__info {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .swiper-arrow {
    display: none;
  }

  .header::before {
    background-color: #2a2a2a;
  }

  .header__container {
    padding: 20px 15px;
  }

  .menu-header {
    margin-left: 0;
    position: fixed;
    background-color: #2a2a2a;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: 0;
    top: 0;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    z-index: -6;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    -o-transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s, -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  }

  .menu-header.active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .menu-header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 20px;
    padding: 100px 0px 30px 0px;
    overflow: auto;
  }

  .menu-header__link {
    display: block;
    text-align: center;
    font-size: 28px;
  }

  .burger-menu {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
  }

  .burger-menu::before,
  .burger-menu::after,
  .burger-menu span {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: #00c4f0;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  }

  .burger-menu::before {
    top: 0;
  }

  .burger-menu::after {
    bottom: 0;
  }

  .burger-menu span {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .burger-menu.active::before {
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(45deg);
        -ms-transform: translate(0, -50%) rotate(45deg);
            transform: translate(0, -50%) rotate(45deg);
  }

  .burger-menu.active::after {
    top: 50%;
    -webkit-transform: translate(0, -50%) rotate(-45deg);
        -ms-transform: translate(0, -50%) rotate(-45deg);
            transform: translate(0, -50%) rotate(-45deg);
  }

  .burger-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .img-block-main-section__body {
    -webkit-box-shadow: 0px 0px 30px #00c4f0;
            box-shadow: 0px 0px 30px #00c4f0;
  }

  .slide-portfolio__img {
    display: block;
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 767px), only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .main-section__body {
    display: block;
    text-align: center;
    padding-bottom: 30px;
  }

  .main-section__info {
    padding-right: 0px;
    margin: 0px 0px 30px 0px;
  }

  .main-section__button {
    width: 100%;
  }

  .img-block-main-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) and (max-width: 1230px) {
  .slide-portfolio__body {
    padding-left: calc(10px + 70 * ((100vw - 320px) / 910));
  }
}

@media (any-hover: hover) {
  .link:hover {
    color: #00c4f0;
  }

  .swiper-arrow {
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .swiper-arrow:hover {
    color: #e2a100;
    background-color: #2a2a2a;
  }

  .header__logo-block:hover .header__text {
    color: #00c4f0;
  }

  .contact__link:hover {
    color: #e2a100;
  }

  .open-img__close:hover:hover::after,
  .open-img__close:hover:hover::before {
    background-color: red;
  }

  .main-section__button:hover {
    color: #e29500;
    background: #000;
    -webkit-box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
            box-shadow: 0px 2px 13px rgba(226, 158, 0, 0.48);
  }

  .slide-portfolio__btn span:hover {
    color: #00c4f0;
  }
}